/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 4px;
}
@media screen and (min-width: 768px) {
  .container {
    height: 400px;
    width: 400px;
  }
  .heading {
    color: blue;
    font-size: 13px;
  }
  .count {
    color: blue;
    font-size: 10px;
  }
  .para {
    font-size: 8px;
  }
}
.para {
  font-size: 10px;
}
.heading {
  color: blue;
  font-size: 20px;
}
.count {
  color: blue;
  font-size: 18px;
}
.button {
  color: aliceblue;
  background-color: blue;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
